p { color:rgb(127, 11, 176); font-family: serif: font-size: 40px; text-align: center;}
body {background-color: rgb(167, 238, 217);}
h2 {font-size: 20px; font-family: sans-sherif; color:rgb(0, 98, 255); text-align: center}
